<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <% if Boiler.settings[:sentry_url] %>
      <script type='application/javascript' src='<%= asset_path('raven.js') %>'></script>
      <script type='application/javascript' src='<%= asset_path('raven_config.js') %>'></script>
    <% end %>
    <script type='application/javascript' src='<%= asset_path('marbles.js') %>'></script>
    <script type='application/javascript' src='<%= asset_path('tent-client.js') %>'></script>
    <script type='application/javascript' src='<%= asset_path('contacts_daemon.js') %>'></script>
  </body>
</html>
